---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 3
    versioning-strategy: "increase"
    ignore:
      # not upgrading until we move to new docs
      - dependency-name: "vitepress-shopware-docs"
      # until https://github.com/nuxt-modules/i18n/issues/2215 is resolved
      - dependency-name: "@nuxtjs/i18n"
    groups:
      astro:
        update-types:
          - "major"
        patterns:
          - "@astrojs/*"
          - "astro"
      changelog:
        patterns:
          - "@changesets/*"
          - "changelog-parser"
          - "*/changelog-parser"
      eslint:
        patterns:
          - "eslint"
          - "@types/eslint"
          - "@eslint/*"
          - "@typescript-eslint/*"
          - "eslint-*"
          - "globals"
      types:
        update-types:
          - "minor"
        patterns:
          - "@types/node"

      maintenance:
        patterns:
          - "dotenv-cli"
          - "turbo*"
          - "vercel"
          - "semver"
          - "globby"
          - "husky"
          - "pnpm"
      tests:
        patterns:
          - "vitest"
          - "@vitest/*"
          - "dotenv"
          - "happy-dom"
          - "@faker*"
          - "@codspeed/*"
          - "@playwright*"
      linter:
        patterns:
          - "prettier"
          - "@types/prettier"
          - "@biome/*"
      vue:
        patterns:
          - "vue"
          - "vue-*"
          - "@vue/*"
          - "nuxt"
          - "vite"
          - "@vueuse/*"
          - "@vitejs/*"
          - "@iconify*"
          - "@nuxt/*"
          - "@unocss/*"
          - "unocss"
