html {
    font-size: 14px;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    color: #fff;
    background: radial-gradient(135.35% 140.89% at 107.72% -60.35%, rgba(65, 184, 131, 0.4) 0%, rgba(5, 4, 31, 0) 100%),
        #121116;
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-wrapper {
    background-image: url("background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}