.vt-doc table {
    width: 100%;
    display: table;
}

.DocSearch-Button-Placeholder,
.DocSearch-Search-Icon,
.DocSearch-Button-Key,
.DocSearch-Button:hover .DocSearch-Search-Icon {
    color: var(--vp-c-white);
}

.search-item:hover,
.VPPluginSearch-search-item:hover,
.DocSearch-Button:hover .DocSearch-Button-Placeholder {
    color: var(--c-blue-brand);
}