export default [
  { UserAgent: '*' },
  { Disallow: '*/?' },

  { Disallow: '*/account/' },
  { Disallow: '*/checkout/' },
  { Disallow: '*/widgets/' },
  { Disallow: '*/navigation/' },
  { Disallow: '*/bundles/' },

  { Disallow: '*/imprint$' },
  { Disallow: '*/privacy$' },
  { Disallow: '*/gtc$' },

  { BlankLine: true },
  { Comment: 'Comment here' },

  // Be aware that this will NOT work on target: 'static' mode
  { Sitemap: (req) => `https://${req.headers.host}/sitemap.xml` }
]
