name: Audit check

on:
  workflow_dispatch:
  schedule:
    - cron: "30 8 * * *"
  push:
    branches: ["main"]
    paths:
      - "pnpm-lock.yaml"
  pull_request:
    types: [opened, synchronize]
    paths:
      - "pnpm-lock.yaml"

jobs:
  init:
    name: Check audit
    timeout-minutes: 15
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    runs-on: macos-14

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - run: corepack enable
      - run: pnpm --version
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: install and build packages
        run: pnpm --filter='./packages/**' --frozen-lockfile --config.dedupe-peer-dependents=false install
      - name: install
        run: pnpm install --frozen-lockfile
      - name: Audit
        run: pnpm audit
