name: Check PR title
on:
  pull_request:
    types: [opened, reopened, edited, synchronize]

permissions:
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check semantic PR title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Check PR title length
        uses: actions/github-script@v8
        env:
          TITLE: ${{ github.event.pull_request.title }}
        with:
          script: |
            const title = process.env.TITLE;
            const regex = /^(?!.{69}\.\.\.$).{0,72}$/;
            if (!regex.test(title)) {
              throw new Error('The PR title reaches the 72-character limit and cannot end with "...". Please shorten it.');
            }