name: Check PR title
on:
  pull_request:
    types: [opened, reopened, edited, synchronize]

permissions:
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        with:
          subjectPattern: '^(?!.{69}\.\.\.$).{0,72}$'
          subjectPatternError: 'The PR title reaches the 72-character limit and cannot end with "...". Please shorten it.'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}