name: CI

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "apps/**"
      - "**.md"
  pull_request:
    types: [opened, synchronize]
    paths-ignore:
      - "apps/**"
      - "**.md"

jobs:
  build:
    name: Build
    timeout-minutes: 15
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - run: pnpm --version
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Build
        run: pnpm build
        env:
          NITRO_PRESET: vercel

      - name: Lint
        env:
          TURBO_TELEMETRY_DISABLED: 1
          DO_NOT_TRACK: 1
        run: pnpm lint
     
      - name: Typecheck
        env:
          TURBO_TELEMETRY_DISABLED: 1
          DO_NOT_TRACK: 1
        run: pnpm typecheck


  test:
    name: Test
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - run: pnpm --version
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Test
        run: pnpm test
