name: codspeed-benchmarks

on:
  push:
    branches:
      - "main" # or "master"
    paths:
      - packages/api-**/*.ts
  pull_request:
    paths:
      - packages/api-**/*.ts
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - uses: "actions/checkout@v5"
      - uses: "actions/setup-node@v4"
        with:
          node-version: 22
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - run: pnpm --version
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          run: pnpm run test:bench
