name: e2e

on:
  deployment_status:

jobs:
  run-e2e:
    name: Playwright testing deployment ${{ github.event.deployment_status.target_url }}
    if: github.event_name == 'deployment_status' && github.event.deployment_status.state == 'success' && !contains(github.event.deployment_status.target_url, 'frontends-docs') && !contains(github.event.deployment_status.target_url, 'vue-starter-template')
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@v5
        with:
          node-version: 22
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Install dependencies with Playwright
        run: |
          pnpm playwright install --with-deps
      - name: create env file
        run: |
          touch .env
          echo BASE_E2E_URL=${{ github.event.deployment_status.target_url }} >> .env
      - name: Run tests
        run: pnpm run test:e2e

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: reports
          path: apps/e2e-tests/reports/
          retention-days: 7
