name: e2e

on:
  deployment_status:

jobs:
  run-e2e:
    name: Playwright testing deployment ${{ github.event.deployment_status.target_url }}
    if: github.event_name == 'deployment_status' && github.event.deployment_status.state == 'success' && !contains(github.event.deployment_status.target_url, 'frontends-docs')
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - run: pnpm --version
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Install dependencies with Playwright
        run: |
          pnpm playwright install --with-deps
      - name: create env file
        run: |
          touch .env
          echo BASE_E2E_URL=${{ github.event.deployment_status.target_url }} >> .env
      - name: Run tests
        run: pnpm run test:e2e

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: reports
          path: apps/e2e-tests/reports/
          retention-days: 7
