name: Publish & deploy canary version

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "templates/**"
      - "scripts/**"
      - ".vscode/**"
      - "apps/**"

jobs:
  publish:
    name: Publish canary version
    runs-on: ubuntu-latest
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - uses: pnpm/action-setup@v2
        name: Install pnpm
        id: pnpm-install
        with:
          version: 7
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm run build --filter='./packages/*'

      - name: Generate shapshot
        run: |
          pnpm up -r --workspace templates 
          pnpm run version --snapshot canary
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESETS_TOKEN }}

      - name: Set publishing config
        run: npm config set '//registry.npmjs.org/:_authToken' "${NODE_AUTH_TOKEN}"
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

      - name: Publish canary packages
        run: pnpm changeset publish --no-git-tag --no-git-checks --tag canary
