name: Release
# Prepares release PR, and publishes packages when it's merged

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
      - "templates/**"
      - "scripts/**"
      - ".vscode/**"
      - "apps/**"

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Create release PR or publish merged changesets
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      packages: write
      pull-requests: write
      issues: read
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Install Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22

      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
      - run: pnpm --version
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"
      - name: install
        run: pnpm install --frozen-lockfile --prefer-offline

      - name: Build packages
        run: pnpm run build --filter='./packages/*'

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm run version
          publish: pnpm run changeset publish
          commit: "chore: release"
          title: "chore: next version release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
